   <!-- Generic JS for Theme -->
   <script src="../assets/plugins/Jquery/dist/jquery.min.js"></script>
   <script src="../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
   <script src="../assets/plugins/tether/dist/js/tether.min.js"></script>

   <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="../assets/js/main.min.js"></script>

   <!-- Perfil JS -->
   <script src="../assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
   <script type="text/javascript" src="../assets/pages/accordion.js"></script>




</body>

</html>