<!DOCTYPE html>
<html lang="en">

<head>
	<title> TimesUpp </title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="codedthemes">
	<meta name="keywords" content=", Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
	<meta name="author" content="codedthemes">

	<!-- Favicon icon -->
	<link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
	<link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">

	<!-- Google font-->
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

   <!--Date Picker Material Icon Css-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- themify -->
	<link rel="stylesheet" type="text/css" href="../assets/icon/themify-icons/themify-icons.css">

   <!-- Font Awesome -->
   <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- iconfont -->
	<link rel="stylesheet" type="text/css" href="../assets/icon/icofont/css/icofont.css">


	<!-- simple line icon -->
	<link rel="stylesheet" type="text/css" href="../assets/icon/simple-line-icons/css/simple-line-icons.css">

   <!-- Required Fremwork -->
   <link rel="stylesheet" type="text/css" href="../assets/plugins/bootstrap/css/bootstrap.min.css">

	<!-- Date Picker css -->
   <link rel="stylesheet" href="../assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" />

   <!-- Bootstrap Date-Picker css -->
   <link rel="stylesheet" href="../assets/plugins/bootstrap-datepicker/css/bootstrap-datetimepicker.css" />
   <link rel="stylesheet" type="text/css" href="../assets/plugins/bootstrap-daterangepicker/daterangepicker.css" />

   <!-- Select 2 css -->
   <link rel="stylesheet" href="../assets/plugins/select2/dist/css/select2.min.css" />
   <link rel="stylesheet" type="text/css" href="../assets/plugins/select2/css/s2-docs.css">

   <!-- Multi Select css -->
   <link rel="stylesheet" href="../assets/plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />
   <link rel="stylesheet" href="../assets/plugins/multiselect/css/multi-select.css" />

   <!-- Color Picker css -->
   <link rel="stylesheet" href="../assets/plugins/spectrum/spectrum.css" />

   <!-- Tags css -->
   <link rel="stylesheet" href="../assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" />

   <!-- bash syntaxhighlighter css -->
   <link type="text/css" rel="stylesheet" href="../assets/plugins/syntaxhighlighter/styles/shCoreDjango.css"/>

   <!-- Style.css -->
  <link rel="stylesheet" type="text/css" href="../assets/css/main.css">

  <!-- Responsive.css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">

	<!--color css-->
	<link rel="stylesheet" type="text/css" href="../assets/css/color/color-1.min.css" id="color" />


</head>