

   <div class="wrapper">
      <!-- Navbar-->
      <header class="main-header-top hidden-print">
         <a href="index.php" class="logo"><img class="img-fluid able-logo" src="../assets/images/logo.png" alt="Theme-logo"></a>
         <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#!" data-toggle="offcanvas" class="sidebar-toggle"></a>

               <ul class="top-nav">
                 
                  <!-- User Menu-->
                  <li class="dropdown">
                     <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="icon-circle drop-image">
                        <span><img class="img-circle " src="<?= $s->getFotoActualUsuario(); ?>" style="width:40px;height: 40px;" alt="User Image"></span>                        
                        <span class="dropdown-user">Bienvenido, <b> <?= $s->getActualUsuario(); ?> </b> <i class=" icofont icofont-simple-down"></i></span>
                     </a>
                     <ul class="dropdown-menu settings-menu">
                        <li><a href="#!"><i class="icon-settings"></i> Ajustes</a></li>
                        <li><a href="perfil.php"><i class="icon-user"></i> Mi Perfil</a></li>
						<li><a href="contactos.php"><i class="icon-notebook"></i> Contactos</a></li>
                        <li class="p-0">
                           <div class="dropdown-divider m-0"></div>
                        </li>

                        <li><a href="../controller/logoutController.php"><i class="icon-logout"></i> Cerrar Sesión</a></li>

                     </ul>
                  </li>
               </ul>

            </div>
         </nav>
      </header>
	
      <!-- Side-Nav-->
      <aside class="main-sidebar hidden-print ">
         <section class="sidebar" id="sidebar-scroll">
            <!-- Sidebar Menu-->
            <ul class="sidebar-menu">

                <!-- Barra Navegacion-->            
                <li class="nav-level">--- Navegación</li>

				<!-- Colorea el elemento o no, si está en la pagina del elemento -->
				<?php if (strnatcasecmp($_SERVER["REQUEST_URI"],"/timesupp/views/index.php") == 0):?> 
				
                  <li class="active treeview">
					  
				<?php else:?>

                  <li class="treeview">
					  
				<?php endif;?>

                    <a class="waves-effect waves-dark" href="index.php">
                        <i class="icon-speedometer" ></i><span> Dashboard</span>
                    </a>                
                </li>


				<!-- Colorea el elemento o no, si está en la pagina del elemento -->
				<?php if (strnatcasecmp($_SERVER["REQUEST_URI"],"/timesupp/views/XXXX.php") == 0):?> 

                  <li class="active treeview"><a class="waves-effect waves-dark" href="#!"><i class="icon-docs"></i><span>Actividades</span><i class="icon-arrow-down"></i></a>
                
				<?php else:?>
					  
                  <li class="treeview"><a class="waves-effect waves-dark" href="#!"><i class="icon-list"></i><span>Actividades</span><i class="icon-arrow-down"></i></a>

				<?php endif;
					  
                foreach (($g -> getActividadesUsuario($IdUsu)) as $activ): ?>
 
                    <ul class="treeview-menu">
                        <li><a class="waves-effect waves-dark" href="sample-page.html"><i class="icon-arrow-right"></i><?= $activ['Nombre']; ?> </a></li>
                    </ul>
					  
				<?php endforeach; ?>
					  
                  </li>



				<!-- Colorea el elemento o no, si está en la pagina del elemento -->
				<?php if (strnatcasecmp($_SERVER["REQUEST_URI"],"/timesupp/views/XXXX.php") == 0):?>
				
                  <li class="active treeview"><a class="waves-effect waves-dark" href="#!"><i class="icon-docs"></i><span>Grupos</span><i class="icon-arrow-down"></i></a>
					  
 				<?php else: ?>
					  
                  <li class="treeview"><a class="waves-effect waves-dark" href="#!"><i class="icon-people"></i><span>Grupos</span><i class="icon-arrow-down"></i></a>
				<?php endif;
					  
                foreach (($g -> getGruposUsuario($IdUsu)) as $grup): ?>

                    <ul class="treeview-menu">
                        <li><a class="waves-effect waves-dark" href="grupo.php?grupo=<?= $grup['IdGrupo']; ?>" ><i class="icon-arrow-right"></i> <?= $grup['Nombre']; ?> </a></li>               
                    </ul>

				<?php endforeach; ?>
					  
                  </li>

                <!-- Barra Acciones-->  
                <li class="nav-level">--- Acciones</li>

				<!-- Colorea el elemento o no, si está en la pagina del elemento -->
				<?php if (strnatcasecmp($_SERVER["REQUEST_URI"],"/timesupp/views/admActividad.php") == 0):?>
				
                  <li class="active treeview">
					  
 				<?php else: ?>
					  
                  <li class="treeview">
					 
				<?php endif; ?>
					  
                    <a class="waves-effect waves-white" href="admActividad.php">
                        <i class="icon-pencil" ></i><span> Administrar Actividades </span>
                    </a>                
                </li>


				<!-- Colorea el elemento o no, si está en la pagina del elemento -->
				<?php if (strnatcasecmp($_SERVER["REQUEST_URI"],"/timesupp/views/XXXX.php") == 0):?>
				
                  <li class="active treeview">
					  
 				<?php else: ?>
					  
                  <li class="treeview">
					  
				<?php endif; ?>
					  
                    <a class="waves-effect waves-dark" href="loquesea.php">
                        <i class="icon-note" ></i><span> Crear Tarea </span>
                    </a>                
                </li>


				<!-- Colorea el elemento o no, si está en la pagina del elemento -->
				<?php if (strnatcasecmp($_SERVER["REQUEST_URI"],"/timesupp/views/XXXX.php") == 0):?>
				
                  <li class="active treeview">
					  
 				<?php else: ?>
					  
                  <li class="treeview">
					  
				<?php endif; ?>
					  
                    <a class="waves-effect waves-dark" href="loquesea.php">
                        <i class="icon-clock" ></i><span> Crear Recordatorio </span>
                    </a>                
                </li>


				<!-- Colorea el elemento o no, si está en la pagina del elemento -->
				<?php if (strnatcasecmp($_SERVER["REQUEST_URI"],"/timesupp/views/admGrupos.php") == 0):?>
				
                  <li class="active treeview">
					  
 				<?php else: ?>

                  <li class="treeview">
					  
				<?php endif; ?>

                    <a class="waves-effect waves-dark" href="admGrupos.php">
                        <i class="icon-user-follow" ></i><span> Administrar Grupos </span>
                    </a>                
                </li>

				
				
				
                </li>
            </ul>
         </section>
      </aside>
