	   <!-- Generic JS for Theme -->
   <script type="text/javascript" src="../assets/plugins/Jquery/dist/jquery.min.js"></script>
   <script type="text/javascript" src="../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
   <script type="text/javascript" src="../assets/plugins/tether/dist/js/tether.min.js"></script>

   <script type="text/javascript" src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="../assets/js/main.min.js"></script>

   <!-- Perfil JS -->
   <script type="text/javascript" src="../assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
   <script type="text/javascript" src="../assets/pages/accordion.js"></script>
  <!-- Dependencias de advance-form.js -->
   <!-- Date picker.js -->
   <script src="../assets/plugins/datepicker/js/moment-with-locales.min.js"></script>
   <script src="../assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
	
   <!-- Select 2 js -->
   <script src="../assets/plugins/select2/dist/js/select2.full.min.js"></script>

   <!-- Max-Length js -->
   <script src="../assets/plugins/bootstrap-maxlength/src/bootstrap-maxlength.js"></script>

   <!-- Multi Select js -->
   <script src="../assets/plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
   <script src="../assets/plugins/multiselect/js/jquery.multi-select.js"></script>

   <!-- Tags js -->
   <script src="../assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>

   <!-- Bootstrap Datepicker js -->
    <script type="text/javascript" src="../assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datetimepicker.min.js"></script>

    <!-- bootstrap range picker -->
    <script type="text/javascript" src="../assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
	
    <!-- color picker -->
  	<script type="text/javascript" src="../assets/plugins/spectrum/spectrum.js"></script>	
   <!-- Dependencias de advance-form.js -->
	
   <!-- custom js -->
   <script type="text/javascript" src="../assets/pages/advance-form.js"></script>
	